aside.l-aside.aside
  section.aside__item
    h3.aside__heading
      span.aside__headingInner Category
    ul.category
      - categories = [];
      - categories[0] = {text: 'Programming', class: 'desktop', num: 5};
      - categories[1] = {text: 'Book', class: 'book', num: 7};
      each category, i in categories
        li.category__item
          a.category__link(href="#")
            i.category__icon(class=`fa fa-${category.class}`)
            span.category__text.hover-line-effect= category.text
            span.category__num= `(${category.num})`

  section.aside__item
    h3.aside__heading
      span.aside__headingInner Popular
    ol.popularPost
      - var i = 0;
      while i < 5
        li.popularPost__item
          span.popularPost__num
          a.popularPost__link.hover-line-effect(href="#") WordPressの開発環境をDockerを使って一瞬で立ち上げる
        - i++

  section.aside__item
    h3.aside__heading
      span.aside__headingInner Tag
    ul.tagCloud
      each tag, i in ['HTML', 'CSS', 'JavaSciprt', 'WordPress', 'PHP', 'Docker', 'Web service', 'Node.js', 'gulp', 'VIM', 'Atom']
        li.tagCloud__item
          a.tagCloud__link(href="#")= tag

  section.aside__item
    h3.aside__heading
      span.aside__headingInner Follow
    ul.sns
      each sns, i in ['rss', 'twitter']
        li.sns__item
          a.sns__link(href="#")
            span.sns__text= sns
            i.sns__icon.fa(class=`fa-${sns}`)

